---
interface Props {
    LinkedIn: string;
    GitHub: string;
    Discord: string; 
    Twitter: string; 
    Gmail: string;
}

const { LinkedIn, GitHub, Discord, Twitter, Gmail } = Astro.props
---

<div class="bg-[#25272d] text-slate-200 flex flex-row gap-8 w-auto h-auto p-1 sm:m-auto text-[22px]">
    <a class="hover:text-red-500 transition-all" href={Gmail} target="_blank" rel="noopener noreferrer" aria-label="Link to Gmail"><i class="fa-solid fa-envelope-open" style="color: #972323;"></i> Gmail</a>
    <a class="hover:text-gray-500 transition-all" href={GitHub} target="_blank" rel="noopener noreferrer" aria-label="Link to GitHub profile"><i class="fa-brands fa-square-github" style="color: #ffff;"></i> GitHub</a>
    <a class="hover:text-[#1DA1F2] transition-all" href={Twitter} target="_blank" rel="noopener noreferrer" aria-label="Link to Twitter profile"><i class="fab fa-twitter" style="color: #1DA1F2;"></i> Twitter</a>
    <a class="hover:text-[#5865F2] transition-all" href={Discord} target="_blank" rel="noopener noreferrer" aria-label="Link to Discord server"><i class="fab fa-discord" style="color: #5865F2;"></i> Discord</a>
    <a class="hover:text-[#0077B5] transition-all" href={LinkedIn} target="_blank" rel="noopener noreferrer" aria-label="Link to LinkedIn profile"><i class="fab fa-linkedin" style="color: #0077B5;"></i> LinkedIn</a>
</div>